<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.mail.add.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.example.mail.add.Perspective"
            id="com.example.mail.add.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.example.mail.add.View"
            id="com.example.mail.add.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.example.mail.add.NavigationView"
            id="com.example.mail.add.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="com.example.mail.add.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="com.example.mail.add.category"
            id="com.example.mail.add.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="com.example.mail.add.category"
            id="com.example.mail.add.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.example.mail.add.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="com.example.mail.add.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension point="org.eclipse.ui.commands">
    	<command id="com.example.mail.spamfilter.activate"
        	name="Activate SPAM filter"/>
	</extension>
	<extension point="org.eclipse.ui.menus">
    	<menuContribution locationURI="menu:file">
        <command commandId="com.example.mail.spamfilter.activate" style="push"/>
    	</menuContribution>
	</extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.example.mail.add.application"
            name="RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="RCP Product">
         </property>
      </product>
   </extension>

</plugin>
